html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Microsoft YaHei';
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

b, strong {
  font-weight: normal; }

em, i {
  font-style: normal; }

a, u {
  text-decoration: none;
  color: #666; }

img {
  border: 0;
  display: block; }

ul, ol, li {
  list-style: none; }

input {
  outline: none; }

.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

/*top*/
#top {
  height: 30px;
  background: #f7f7f7;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e9e9e9;
  color: #666; }

.top-con {
  height: 30px;
  font-size: 12px; }

.top-con .bl {
  width: auto;
  float: left;
  background: url(../images/bl_logo_m.png) no-repeat 2px center;
  padding: 0 12px 0 18px;
  position: relative; }

.bl .text {
  width: 156px;
  height: 30px;
  color: #8d8d8d;
  line-height: 30px;
  float: left; }

.bl b {
  display: block;
  width: 1px;
  height: 12px;
  background: url(../images/tools1200_sprite.png) no-repeat 0 -28px;
  float: left;
  position: absolute;
  top: 9px;
  right: -1px; }

.top-con .top-left {
  float: left;
  width: 70px;
  height: 30px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  line-height: 30px; }

.top-left a {
  color: #666;
  display: block;
  width: 62px;
  height: 30px;
  color: #666;
  padding: 0 10px; }

.top-left a span {
  float: left; }

.top-left a i {
  background: url(../images/tools1200_sprite.png) no-repeat 0 -40px;
  float: left;
  width: 7px;
  height: 4px;
  margin: 13px 0 0 7px; }

.top-left-con:hover a {
  color: #ff6f6f;
  background: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 2px #CCC;
  -webkit-box-shadow: 0 0 2px #CCC;
  -o-box-shadow: 0 0 2px #CCC;
  -moz-box-shadow: 0 0 2px #CCC;
  -ms-box-shadow: 0 0 2px #CCC;
  border-top: 0;
  border-bottom: 0; }

.top-left-con:hover a i {
  transform: rotate(180deg); }

.left-span {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 2px;
  top: 28px;
  background-color: #FFF;
  z-index: 3;
  display: none; }

.top-con .top-left-con {
  float: left;
  position: relative; }

.left-show {
  position: absolute;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 2px #CCC;
  -webkit-box-shadow: 0 0 2px #CCC;
  -o-box-shadow: 0 0 2px #CCC;
  -moz-box-shadow: 0 0 2px #CCC;
  -ms-box-shadow: 0 0 2px #CCC;
  top: 30px;
  width: 222px;
  padding: 7px 12px;
  display: none;
  left: 1px; }

.top-con .top-left-con .left-show-dl {
  width: 222px;
  line-height: 24px; }

.top-con .top-left-con .left-show-dl dd {
  padding: 0 5px;
  width: 100px;
  float: left;
  margin-left: 1px; }

.top-con .top-left-con .left-show-dl dd a {
  color: #666;
  display: block;
  line-height: 24px;
  padding: 0 10px; }

.top-left-con:hover .left-span {
  display: block; }

.top-left-con:hover .left-show {
  display: block; }

.top-left-con .left-show-dl dd:hover a {
  color: #ff6f6f; }

.top-con .msg {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  line-height: 30px;
  float: left; }

.top-con .msg a {
  color: #666; }

.top-con .msg:hover a {
  color: #ff6f6f; }

.top-con .top-right {
  width: 577px;
  height: 30px;
  float: right; }

.top-right b {
  display: block;
  width: 1px;
  height: 12px;
  background: url(../images/tools1200_sprite.png) no-repeat 0 -28px;
  float: left;
  position: absolute;
  top: 9px;
  right: -1px; }

.top-right .user-not-login i {
  background: url(../images/tools1200_sprite.png) no-repeat 0 -15px;
  display: block;
  float: left;
  width: 13px;
  height: 13px;
  margin-top: 10px; }

.top-right .user-not-login:hover {
  background: #fff;
  float: left;
  height: 30px;
  border-color: transparent; }

.top-right .user-not-login span {
  display: block;
  float: left;
  line-height: 30px;
  margin-left: 5px; }

.top-right .user-not-login a {
  color: #666;
  padding: 0 10px;
  float: left;
  height: 30px; }

.top-right .user-not-login a:hover {
  color: #ff6f6f; }

.top-right .user-not-login a:nth-child(2) {
  color: #666;
  padding: 0 10px;
  float: left;
  height: 30px;
  line-height: 30px; }

.top-right .user-not-login a:nth-child(2):hover {
  color: #ff6f6f; }

.top-right .user-not-login {
  position: relative;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: none; }

.top-right .user-not-login b {
  display: block;
  width: 1px;
  height: 12px;
  background: url(../images/tools1200_sprite.png) no-repeat 0 -28px;
  float: left;
  position: absolute;
  top: 9px;
  right: -1px; }

.top-right .user-not-login:hover b {
  background: none; }

.top-right .user-login-in {
  display: none; }

.top-right ul li {
  float: left;
  position: relative;
  height: 30px;
  line-height: 30px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  margin-left: -1px; }

.top-right .user-dingdan a {
  color: #666; }

.top-right .user-dingdan {
  height: 30px;
  padding: 0 10px; }

.top-right .user-dingdan:hover a {
  color: #ff6f6f; }

.top-right .user-dingdan:hover b {
  background: none; }

.top-right ul li:hover {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  box-shadow: 0 0 2px #CCC;
  -webkit-box-shadow: 0 0 2px #CCC;
  -o-box-shadow: 0 0 2px #CCC;
  -moz-box-shadow: 0 0 2px #CCC;
  -ms-box-shadow: 0 0 2px #CCC;
  background: #fff; }

.top-right .user-bl {
  line-height: 30px;
  height: 30px; }

.top-right .user-bl a {
  height: 30px;
  display: block;
  padding: 0 10px;
  color: #666; }

.top-right .user-bl span {
  height: 30px;
  display: block;
  float: left; }

.top-right .user-bl a i {
  background: url(../images/tools1200_sprite.png) no-repeat 0 -40px;
  float: left;
  width: 7px;
  height: 4px;
  margin: 13px 0 0 7px; }

.top-right .user-bl a:hover {
  color: #ff6f6f; }

.top-right .user-bailian:hover .user-bl a i {
  transform: rotate(180deg); }

.divshow {
  width: 100%;
  position: absolute;
  top: 30px;
  background: #fff;
  border: 1px solid #e2e2e2;
  z-index: 7;
  border-top: 0;
  display: none;
  left: -1px;
  box-shadow: 0 0 2px #CCC;
  -webkit-box-shadow: 0 0 2px #CCC;
  -o-box-shadow: 0 0 2px #CCC;
  -moz-box-shadow: 0 0 2px #CCC;
  -ms-box-shadow: 0 0 2px #CCC; }

.divshow .show dl {
  line-height: 24px; }

.divshow a {
  color: #666;
  padding: 0 10px;
  height: 24px; }

.top-right .divshow .show dl a:hover {
  color: #ff6f6f; }

.top-right .user-bailian:hover .divshow {
  display: block; }

.top-right .user-bailian:hover .left-span {
  display: block;
  left: 0; }

.top-right .recharge-show {
  width: 660px;
  padding: 15px;
  margin-left: -427px;
  display: none; }

.top-right .recharge-show2 {
  width: 660px; }

.recharge-show2 dd {
  float: left;
  width: 100px;
  padding: 0 5px;
  margin-left: -1px;
  border-left: 1px dashed #e9e9e9;
  height: 126px;
  text-align: center; }

.recharge-show2 .pay-title {
  line-height: 26px;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  color: #333;
  padding: 0 10px; }

.recharge-show2 .pay-list {
  line-height: 24px; }

.recharge-show2 .pay-list a {
  display: block;
  color: #666;
  height: 24px;
  padding: 0 10px; }

.top-right .recharge:hover .recharge-show {
  display: block; }

.top-right .recharge-show .recharge-show2 .pay-list a:hover {
  color: #ff6f6f; }

.top-right .recharge:hover .left-span {
  display: block;
  z-index: 3;
  left: 0; }

.top-right .serve:hover .left-span {
  display: block;
  left: 0; }

.top-right .palm .code {
  width: 141px;
  height: 164px;
  text-align: center;
  margin-left: -30px; }

.top-right .palm .code .code-con a img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 22px;
  top: 10px; }

.top-right .palm .code .code-con a {
  height: 100px;
  line-height: 0;
  text-align: center;
  position: relative;
  width: 100px;
  display: block; }

.top-right .palm .code span {
  text-align: center;
  padding: 0 20px;
  line-height: 20px;
  height: 20px;
  display: block; }

.top-right .palm .code .bl-title {
  margin-top: 20px;
  line-height: 20px;
  font-size: 16px; }

.top-right .palm .code .bl-msg {
  color: #ff6f6f; }

.top-right .palm:hover .left-span {
  display: block;
  left: 0; }

.header-con {
  height: 96px; }

.header-con .logo {
  float: left;
  margin-top: 18px;
  width: 410px;
  height: 60px; }

.header-con .logo1 {
  float: left; }

.header-con .logo .logo2 {
  float: left;
  margin-left: 65px; }

.header-right {
  width: 780px;
  height: 63px;
  margin-top: 25px;
  float: left; }

.header-right .search-top {
  width: 565px;
  height: 35px;
  float: left; }

.header-right .search-top .input-search {
  width: 426px;
  height: 31px;
  padding: 2px 0 2px 2px;
  background: #c01133;
  float: left; }

.header-right .indiv {
  width: 406px;
  height: 31px;
  padding: 0 10px;
  background: #fff; }

.header-right .indiv .search-input {
  width: 406px;
  height: 19px;
  padding: 6px 0;
  border: 0; }

.header-right .search-button {
  width: 85px;
  height: 35px;
  background: #c01133;
  float: left;
  border-radius: 0 3px 3px 0; }

.header-right .search-button button {
  width: 85px;
  height: 35px;
  color: #fff;
  text-align: center;
  border: 0;
  background: #c01133 url(../images/header1200_sprite.png) no-repeat 0 0;
  border-radius: 0 3px 3px 0;
  cursor: pointer; }

.top-con, .header-con, .nav-con {
  width: 1190px;
  margin: 0 auto; }

/*nav*/
#nav {
  height: 35px;
  background: #333; }
  #nav .nav-con {
    background: pink;
    height: 35px;
    position: relative; }
    #nav .nav-con .nav-left {
      float: left;
      height: 35px;
      width: 190px;
      position: relative; }
      #nav .nav-con .nav-left i {
        float: right;
        margin-right: 13px;
        height: 6px;
        width: 9px;
        background: url(../images/nav1200_sprite.png) no-repeat 0 -125px;
        margin-top: 14px; }
      #nav .nav-con .nav-left span {
        float: left;
        margin-left: 13px;
        font-size: 14px;
        line-height: 35px; }
        #nav .nav-con .nav-left span a {
          color: #fff; }
    #nav .nav-con .nav-left:hover a {
      text-decoration: underline; }

.nevigate-show {
  position: absolute;
  left: 0;
  top: 0; }

.nav-show {
  width: 190px;
  height: 432px;
  position: absolute;
  left: 0;
  top: 35px;
  background: #151515;
  opacity: 0.75;
  filter: alpha(opacity=75);
  z-index: 6; }
  .nav-show .int-nav {
    width: 190px;
    height: 412px;
    padding: 11px 0 9px;
    color: #fff;
    position: relative;
    line-height: 28px;
    -webkit-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2); }
    .nav-show .int-nav li {
      padding-left: 16px;
      height: 29px; }
      .nav-show .int-nav li i {
        float: left;
        width: 16px;
        height: 16px;
        margin-top: 7px;
        display: block;
        line-height: 16px;
        font-size: 16px;
        background: url(../images/nav-v3-icon-1.png) no-repeat; }
      .nav-show .int-nav li span {
        font-size: 13px;
        float: left;
        display: block;
        margin-left: 10px; }
        .nav-show .int-nav li span a {
          color: #fff; }
      .nav-show .int-nav li .shengxian {
        background-position: 0 -30px; }
      .nav-show .int-nav li .shipin {
        background-position: 0 -60px; }
      .nav-show .int-nav li .meirong {
        background-position: 0 -90px; }
      .nav-show .int-nav li .jiaju {
        background-position: 0 -150px; }
      .nav-show .int-nav li .muying {
        background-position: 0 -120px; }
      .nav-show .int-nav li .zhi {
        background-position: 0 -180px; }
      .nav-show .int-nav li .fuzhuang {
        background-position: 0 -210px; }
      .nav-show .int-nav li .xiangbao {
        background-position: 0 -240px; }
      .nav-show .int-nav li .phone {
        background-position: 0 -270px; }
      .nav-show .int-nav li .jiadian {
        background-position: 0 -300px; }
      .nav-show .int-nav li .cat {
        background-position: 0 -330px; }
      .nav-show .int-nav li .yiyao {
        background-position: 0 -360px; }
      .nav-show .int-nav li .books {
        background-position: 0 -390px; }

.menu-date {
  width: 1000px;
  height: 430px;
  border: 1px solid #dfdfdf;
  position: absolute;
  left: 190px;
  top: 36px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-left: 0;
  border-top: 0;
  opacity: 1;
  z-index: 6; }

.hide {
  display: none; }

.menu-date .gb-icon {
  display: none;
  width: 31px;
  height: 31px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/nav1200_sprite.png) no-repeat 0 -70px; }

.menu-date li {
  width: 984px;
  height: 416px;
  padding: 8px;
  overflow: hidden;
  position: absolute; }

.menu-date li .right-img {
  width: 240px;
  height: 422px;
  float: right; }

.menu-date li .right-img a {
  width: 240px;
  height: 203px;
  margin-bottom: 9px;
  display: block; }

.menu-date li .menu-con {
  width: 725px;
  margin: 10px 0 0 5px;
  line-height: 23px;
  position: relative; }

.menu-date li .menu-con span {
  width: 75px;
  font-weight: 900;
  float: left;
  margin-right: 23px;
  text-align: right;
  padding-top: 5px; }

.menu-date li .menu-con span a {
  color: #000; }

.menu-date li .menu-con .menu-con-list {
  width: 620px;
  float: left;
  line-height: 23px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #f3f3f3;
  padding-top: 5px; }

.menu-date li .menu-con .menu-con-list a {
  margin-right: 18px;
  display: inline-block;
  float: left; }

.menu-date li .menu-con .menu-con-list a:hover {
  color: #e6133c;
  text-decoration: underline; }

.nav-right {
  float: left;
  max-width: 1000px;
  font-size: 15px;
  color: #000;
  line-height: 35px;
  height: 35px;
  overflow: hidden;
  white-space: nowrap; }
  .nav-right li {
    line-height: 35px;
    height: 35px;
    background: #333;
    float: left; }
    .nav-right li a {
      float: left;
      color: #fff;
      padding: 0 28px;
      line-height: 35px;
      height: 35px; }
  .nav-right li:hover {
    background: #E00A0A; }
