@import 'public';
@import 'headPublic';
.top-con, .header-con,.nav-con{
  width: 1190px;
  margin: 0 auto; }



/*nav*/
#nav{
  height:35px;
  background:#333;
  .nav-con{
    background:pink;
    height:35px;
    position:relative;
    .nav-left{
        float: left;
        height: 35px;
        width: 190px;
        position: relative;
        i{
            float: right;
            margin-right: 13px;
            height: 6px;
            width: 9px;
            background: url(../images/nav1200_sprite.png) no-repeat 0 -125px;
            margin-top: 14px;
        }
        span{
            float: left;
            margin-left: 13px;
            font-size:14px;
            line-height:35px;
            a{
                color:#fff;
            }
        }
    }
    .nav-left:hover{
        a{
            text-decoration: underline;
        }
    }
  }
}

.nevigate-show{
    position:absolute;
    left:0;
    top:0;
}
.nav-show {
  width: 190px;
  height: 432px;
  position: absolute;
  left: 0;
  top: 35px;
  background: #151515;
  opacity: 0.75;
  filter: alpha(opacity=75);
  z-index: 6; 
  .int-nav {
      width: 190px;
      height: 412px;
      padding: 11px 0 9px;
      color: #fff;
      position: relative;
      line-height: 28px;
      -webkit-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
      box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2); 
      -ms-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);  
      li {
          padding-left: 16px;
          height: 29px; 
          i {
              float: left;
              width: 16px;
              height: 16px;
              margin-top: 7px;
              display: block;
              line-height: 16px;
              font-size: 16px;
              background: url(../images/nav-v3-icon-1.png) no-repeat; 
            }
            span {
                  font-size: 13px;
                  float: left;
                  display: block;
                  margin-left: 10px; 
                  a{
                      color:#fff;
                  }
                }
            .shengxian {
                background-position: 0 -30px; 
                }
            .shipin {
                background-position: 0 -60px; 
                }
            .meirong {
  background-position: 0 -90px; }
            .jiaju {
  background-position: 0 -150px; }
            .muying {
  background-position: 0 -120px; }
            .zhi {
  background-position: 0 -180px; }
            .fuzhuang {
  background-position: 0 -210px; }
            .xiangbao {
  background-position: 0 -240px; }
            .phone {
  background-position: 0 -270px; }
            .jiadian {
  background-position: 0 -300px; }
            .cat {
  background-position: 0 -330px; }
            .yiyao {
  background-position: 0 -360px; }
            .books {
  background-position: 0 -390px; }
        }
    }
}
.menu-date {
  width: 1000px;
  height: 430px;
  border: 1px solid #dfdfdf;
  position: absolute;
  left: 190px;
  top: 36px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-left: 0;
  border-top: 0;
  opacity: 1;
  z-index: 6; }
  .hide{
      display: none;
  }
  .menu-date .gb-icon {
    display: none;
    width: 31px;
    height: 31px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/nav1200_sprite.png) no-repeat 0 -70px; }
  .menu-date li {
    width: 984px;
    height: 416px;
    padding: 8px;
    overflow: hidden; 
    position:absolute;
}
    .menu-date li .right-img {
      width: 240px;
      height: 422px;
      float: right; }
      .menu-date li .right-img a {
        width: 240px;
        height: 203px; 
        margin-bottom:9px;
        display: block;
        }
    .menu-date li .menu-con {
      width: 725px;
      margin: 10px 0 0 5px;
      line-height: 23px;
      position: relative; }
      .menu-date li .menu-con span {
        width: 75px;
        font-weight: 900;
        float: left;
        margin-right: 23px;
        text-align: right;
        padding-top: 5px; }
        .menu-date li .menu-con span a {
          color: #000; }
      .menu-date li .menu-con .menu-con-list {
        width: 620px;
        float: left;
        line-height: 23px;
        padding-bottom: 5px;
        border-bottom: 1px dashed #f3f3f3;
        padding-top: 5px; }
        .menu-date li .menu-con .menu-con-list a {
          margin-right: 18px;
          display: inline-block;
          float: left; }
        .menu-date li .menu-con .menu-con-list a:hover {
          color: #e6133c;
          text-decoration: underline; }
.nav-right{
    float:left;
    max-width: 1000px;
    font-size: 15px;
    color: #000;
    line-height: 35px;
    height: 35px;
    overflow: hidden;
    white-space: nowrap;
    li{
        line-height: 35px;
        height: 35px;
        background: #333;
        float:left;
        a{
            float:left;
            color: #fff;
            padding: 0 28px;
            line-height: 35px;
            height: 35px;
        }
    }
    li:hover{
        background:#E00A0A;
    }
} 
