@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Microsoft YaHei';
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

b, strong {
  font-weight: normal; }

em, i {
  font-style: normal; }

a, u {
  text-decoration: none;
  color: #666; }

img {
  border: 0;
  display: block; }

ul, ol, li {
  list-style: none; }

input {
  outline: none; }

.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.top-con, .header-con, .nevigate-con, .czt-con, .new-tm-con, .floor1-con, .floor2-con, .floor3-con, .floor4-con, .floor5-con, .floor6-con, .floor7-con, .likes-con, .bottom-con {
  width: 1190px;
  margin: 0 auto; }

/*top*/
#top {
  height: 30px;
  background: #f7f7f7;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e9e9e9;
  color: #666; }

.top-con {
  height: 30px;
  font-size: 12px; }

.top-con .bl {
  width: auto;
  float: left;
  background: url(../images/bl_logo_m.png) no-repeat 2px center;
  padding: 0 12px 0 18px;
  position: relative; }

.bl .text {
  width: 156px;
  height: 30px;
  color: #8d8d8d;
  line-height: 30px;
  float: left; }

.bl b {
  display: block;
  width: 1px;
  height: 12px;
  background: url(../images/tools1200_sprite.png) no-repeat 0 -28px;
  float: left;
  position: absolute;
  top: 9px;
  right: -1px; }

.top-con .top-left {
  float: left;
  width: 70px;
  height: 30px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  line-height: 30px; }

.top-left a {
  color: #666;
  display: block;
  width: 62px;
  height: 30px;
  color: #666;
  padding: 0 10px; }

.top-left a span {
  float: left; }

.top-left a i {
  background: url(../images/tools1200_sprite.png) no-repeat 0 -40px;
  float: left;
  width: 7px;
  height: 4px;
  margin: 13px 0 0 7px; }

.top-left-con:hover a {
  color: #ff6f6f;
  background: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 2px #CCC;
  border-top: 0;
  border-bottom: 0; }

.top-left-con:hover a i {
  transform: rotate(180deg); }

.left-span {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 2px;
  top: 28px;
  background-color: #FFF;
  z-index: 3;
  display: none; }

.top-con .top-left-con {
  float: left;
  position: relative; }

.left-show {
  position: absolute;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 2px #CCC;
  top: 30px;
  width: 222px;
  padding: 7px 12px;
  display: none;
  left: 1px; }

.top-con .top-left-con .left-show-dl {
  width: 222px;
  line-height: 24px; }

.top-con .top-left-con .left-show-dl dd {
  padding: 0 5px;
  width: 100px;
  float: left;
  margin-left: 1px; }

.top-con .top-left-con .left-show-dl dd a {
  color: #666;
  display: block;
  line-height: 24px;
  padding: 0 10px; }

.top-left-con:hover .left-span {
  display: block; }

.top-left-con:hover .left-show {
  display: block; }

.top-left-con .left-show-dl dd:hover a {
  color: #ff6f6f; }

.top-con .msg {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  line-height: 30px;
  float: left; }

.top-con .msg a {
  color: #666; }

.top-con .msg:hover a {
  color: #ff6f6f; }

.top-con .top-right {
  width: 577px;
  height: 30px;
  float: right; }

.top-right b {
  display: block;
  width: 1px;
  height: 12px;
  background: url(../images/tools1200_sprite.png) no-repeat 0 -28px;
  float: left;
  position: absolute;
  top: 9px;
  right: -1px; }

.top-right .user-not-login i {
  background: url(../images/tools1200_sprite.png) no-repeat 0 -15px;
  display: block;
  float: left;
  width: 13px;
  height: 13px;
  margin-top: 10px; }

.top-right .user-not-login:hover {
  background: #fff;
  float: left;
  height: 30px;
  border-color: transparent; }

.top-right .user-not-login span {
  display: block;
  float: left;
  line-height: 30px;
  margin-left: 5px; }

.top-right .user-not-login a {
  color: #666;
  padding: 0 10px;
  float: left;
  height: 30px; }

.top-right .user-not-login a:hover {
  color: #ff6f6f; }

.top-right .user-not-login a:nth-child(2) {
  color: #666;
  padding: 0 10px;
  float: left;
  height: 30px;
  line-height: 30px; }

.top-right .user-not-login a:nth-child(2):hover {
  color: #ff6f6f; }

.top-right .user-not-login {
  position: relative;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: none; }

.top-right .user-not-login b {
  display: block;
  width: 1px;
  height: 12px;
  background: url(../images/tools1200_sprite.png) no-repeat 0 -28px;
  float: left;
  position: absolute;
  top: 9px;
  right: -1px; }

.top-right .user-not-login:hover b {
  background: none; }

.top-right .user-login-in {
  display: none; }

.top-right ul li {
  float: left;
  position: relative;
  height: 30px;
  line-height: 30px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  margin-left: -1px; }

.top-right .user-dingdan a {
  color: #666; }

.top-right .user-dingdan {
  height: 30px;
  padding: 0 10px; }

.top-right .user-dingdan:hover a {
  color: #ff6f6f; }

.top-right .user-dingdan:hover b {
  background: none; }

.top-right ul li:hover {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  box-shadow: 0 0 2px #CCC;
  background: #fff; }

.top-right .user-bl {
  line-height: 30px;
  height: 30px; }

.top-right .user-bl a {
  height: 30px;
  display: block;
  padding: 0 10px;
  color: #666; }

.top-right .user-bl span {
  height: 30px;
  display: block;
  float: left; }

.top-right .user-bl a i {
  background: url(../images/tools1200_sprite.png) no-repeat 0 -40px;
  float: left;
  width: 7px;
  height: 4px;
  margin: 13px 0 0 7px; }

.top-right .user-bl a:hover {
  color: #ff6f6f; }

.top-right .user-bailian:hover .user-bl a i {
  transform: rotate(180deg); }

.divshow {
  width: 100%;
  position: absolute;
  top: 30px;
  background: #fff;
  border: 1px solid #e2e2e2;
  z-index: 2;
  border-top: 0;
  display: none;
  left: -1px;
  box-shadow: 0 0 2px #CCC; }

.divshow .show dl {
  line-height: 24px; }

.divshow a {
  color: #666;
  padding: 0 10px;
  height: 24px; }

.top-right .divshow .show dl a:hover {
  color: #ff6f6f; }

.top-right .user-bailian:hover .divshow {
  display: block; }

.top-right .user-bailian:hover .left-span {
  display: block;
  left: 0; }

.top-right .recharge-show {
  width: 660px;
  padding: 15px;
  margin-left: -427px;
  display: none; }

.top-right .recharge-show2 {
  width: 660px; }

.recharge-show2 dd {
  float: left;
  width: 100px;
  padding: 0 5px;
  margin-left: -1px;
  border-left: 1px dashed #e9e9e9;
  height: 126px;
  text-align: center; }

.recharge-show2 .pay-title {
  line-height: 26px;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  color: #333;
  padding: 0 10px; }

.recharge-show2 .pay-list {
  line-height: 24px; }

.recharge-show2 .pay-list a {
  display: block;
  color: #666;
  height: 24px;
  padding: 0 10px; }

.top-right .recharge:hover .recharge-show {
  display: block; }

.top-right .recharge-show .recharge-show2 .pay-list a:hover {
  color: #ff6f6f; }

.top-right .recharge:hover .left-span {
  display: block;
  z-index: 3;
  left: 0; }

.top-right .serve:hover .left-span {
  display: block;
  left: 0; }

.top-right .palm .code {
  width: 141px;
  height: 164px;
  text-align: center;
  margin-left: -30px; }

.top-right .palm .code .code-con a img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 22px;
  top: 10px; }

.top-right .palm .code .code-con a {
  height: 100px;
  line-height: 0;
  text-align: center;
  position: relative;
  width: 100px;
  display: block; }

.top-right .palm .code span {
  text-align: center;
  padding: 0 20px;
  line-height: 20px;
  height: 20px;
  display: block; }

.top-right .palm .code .bl-title {
  margin-top: 20px;
  line-height: 20px;
  font-size: 16px; }

.top-right .palm .code .bl-msg {
  color: #ff6f6f; }

.top-right .palm:hover .left-span {
  display: block;
  left: 0; }

/*header*/
.header-con {
  height: 96px; }

.header-con .logo {
  float: left;
  margin-top: 18px;
  width: 410px;
  height: 60px; }

.header-con .logo1 {
  float: left; }

.header-con .logo .logo2 {
  float: left;
  margin-left: 65px; }

.header-right {
  width: 780px;
  height: 63px;
  margin-top: 25px;
  float: left; }

.header-right .search-top {
  width: 565px;
  height: 35px;
  float: left; }

.header-right .search-top .input-search {
  width: 426px;
  height: 31px;
  padding: 2px 0 2px 2px;
  background: #ff3d3d;
  float: left; }

.header-right .indiv {
  width: 406px;
  height: 31px;
  padding: 0 10px;
  background: #fff; }

.header-right .indiv .search-input {
  width: 406px;
  height: 19px;
  padding: 6px 0;
  border: 0; }

.header-right .search-button {
  width: 85px;
  height: 35px;
  background: #ff3d3d;
  float: left;
  border-radius: 0 3px 3px 0; }

.header-right .search-button button {
  width: 85px;
  height: 35px;
  color: #fff;
  text-align: center;
  border: 0;
  background: #ff3d3d;
  border-radius: 0 3px 3px 0; }

.header-right .afb {
  width: 210px;
  height: 35px;
  float: left; }

.header-right .afb a {
  height: 33px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #d7d7d7;
  display: block;
  margin-left: 2px;
  padding: 0 19px 0 12px;
  float: left;
  margin-left: 2px;
  line-height: 33px;
  color: #666;
  background: url(../images/header-right-icon.png) no-repeat right 12px; }

.header-right .afb a:hover {
  border-color: #ff3d3d;
  color: #ff3d3d;
  background: none; }

/*nevigate*/
.nevigate-con {
  height: 35px;
  position: relative; }

.nevigate-con .nav-show {
  width: 190px;
  height: 432px;
  position: absolute;
  left: 0;
  top: 35px;
  background: #151515;
  opacity: 0.75;
  filter: alpha(opacity=75);
  z-index: 6; }

.nevigate-con .nav-left {
  width: 190px;
  height: 35px;
  position: relative;
  float: left; }

.nevigate-con .nav-left .nav-leftTop {
  height: 35px;
  background: #151515; }

.nevigate-con .nav-left .nav-leftTop i {
  display: block;
  width: 14px;
  height: 12px;
  float: left;
  margin-top: 12px;
  margin-left: 13px;
  background: url(../images/nav1200_sprite.png) no-repeat 0 -101px; }

.nevigate-con .nav-left .nav-leftTop a span {
  margin-left: 25px;
  color: #FFF;
  font-size: 14px;
  line-height: 35px;
  float: left; }

.nav-left .int-nav {
  width: 190px;
  height: 412px;
  padding: 11px 0 9px;
  color: #fff;
  position: relative;
  line-height: 28px;
  -webkit-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2); }

.nav-left .int-nav li {
  padding-left: 16px;
  height: 29px; }

.nav-left .int-nav li i {
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  display: block;
  line-height: 16px;
  font-size: 16px;
  background: url(../images/nav-v3-icon-1.png) no-repeat; }

.nav-left .int-nav span {
  font-size: 13px;
  float: left;
  display: block;
  margin-left: 10px; }

.nav-left .int-nav span a {
  color: #fff; }

.nav-left .int-nav .shengxian {
  background-position: 0 -30px; }

.nav-left .int-nav .shipin {
  background-position: 0 -60px; }

.nav-left .int-nav .meirong {
  background-position: 0 -90px; }

.nav-left .int-nav .jiaju {
  background-position: 0 -150px; }

.nav-left .int-nav .muying {
  background-position: 0 -120px; }

.nav-left .int-nav .zhi {
  background-position: 0 -180px; }

.nav-left .int-nav .fuzhuang {
  background-position: 0 -210px; }

.nav-left .int-nav .xiangbao {
  background-position: 0 -240px; }

.nav-left .int-nav .phone {
  background-position: 0 -270px; }

.nav-left .int-nav .jiadian {
  background-position: 0 -300px; }

.nav-left .int-nav .cat {
  background-position: 0 -330px; }

.nav-left .int-nav .yiyao {
  background-position: 0 -360px; }

.nav-left .int-nav .books {
  background-position: 0 -390px; }

.menu-date {
  width: 1000px;
  height: 430px;
  border: 1px solid #dfdfdf;
  position: absolute;
  left: 190px;
  top: 36px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-left: 0;
  border-top: 0;
  opacity: 1;
  z-index: 6; }
  .menu-date .gb-icon {
    display: none;
    width: 31px;
    height: 31px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/nav1200_sprite.png) no-repeat 0 -70px; }
  .menu-date li {
    width: 984px;
    height: 416px;
    padding: 8px;
    overflow: hidden; 
	position:absolute;
}
    .menu-date li .right-img {
      width: 240px;
      height: 422px;
      float: right; }
      .menu-date li .right-img a {
        width: 240px;
        height: 203px; }
    .menu-date li .menu-con {
      width: 725px;
      margin: 10px 0 0 5px;
      line-height: 23px;
      position: relative; }
      .menu-date li .menu-con span {
        width: 75px;
        font-weight: 900;
        float: left;
        margin-right: 23px;
        text-align: right;
        padding-top: 5px; }
        .menu-date li .menu-con span a {
          color: #000; }
      .menu-date li .menu-con .menu-con-list {
        width: 620px;
        float: left;
        line-height: 23px;
        padding-bottom: 5px;
        border-bottom: 1px dashed #f3f3f3;
        padding-top: 5px; }
        .menu-date li .menu-con .menu-con-list a {
          margin-right: 18px;
          display: inline-block;
          float: left; }
        .menu-date li .menu-con .menu-con-list a:hover {
          color: #e6133c;
          text-decoration: underline; }

/*导航条*/
.nevigate-con .nav-right {
  width: 840px;
  height: 35px;
  float: left;
  color: #000;
  line-height: 35px;
  font-size: 15px; }

.nevigate-con .nav-right ul li {
  float: left;
  padding: 0 18px;
  background: #fff; }

.nevigate-con .nav-right li a {
  display: block;
  height: 35px;
  line-height: 35px;
  color: #333;
  font-weight: 700; }

.nevigate-con .doudou {
  width: 22px;
  height: 24px;
  background: url(../images/doudou.png) no-repeat;
  position: absolute;
  z-index: 5; }

.nevigate-con {
  position: relative; }

/*banner*/
#banner {
  height: 430px;
  border-top: 2px solid black;
  position: relative; }

.banner-right {
  width: 215px;
  height: 420px;
  position: absolute;
  right: 36px;
  top: 5px;
  background: #fff;
  z-index: 5; }

.banner-right .banner-top1 {
  width: 187px;
  height: 96px;
  padding: 14px 14px 0;
  border-bottom: 1px solid #eee;
  position: relative;
  z-index: 5; }

.banner-right .banner-top1 .ban-top {
  width: 187px;
  height: 46px; }

.banner-right .banner-top1 .ban-person {
  width: 46px;
  height: 46px;
  float: left; }

.banner-right .banner-top1 .ban-person img {
  width: 46px;
  height: 46px; }

.banner-right .banner-top1 .ban-txt {
  width: 130px;
  height: 40px;
  float: right;
  margin-top: 4px;
  color: #666; }

.banner-right .banner-top1 .ban-login a {
  color: #666; }

.banner-right .banner-top1 .ban-login a:hover {
  color: #ff6f6f; }

.banner-right .ban-gift {
  width: 200px;
  margin-top: 10px; }

.banner-right .ban-gift .gift {
  width: 185px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: none;
  border-radius: 1px;
  background: #fff3f5;
  color: #ff6f6f;
  display: block; }

.banner-right .ban-gift .gift:hover {
  background: #ff6f6f;
  color: #fff3f5; }

.banner-right .banner-top2 {
  height: 110px;
  margin: 10px 15px 0;
  background: url(../images/ban_tit11.png) no-repeat 0 0;
  position: relative; }

.banner-right .banner-top2 .ban-more {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 14px; }

.banner-right .banner-top2 .ban-more:hover {
  color: #ff6f6f; }

.banner-right .banner-top2 .banner-news {
  height: 75px;
  padding-top: 30px;
  line-height: 25px; }

.banner-right .banner-top2 .banner-news li {
  width: 178px;
  margin-left: 5px;
  line-height: 25px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.banner-right .banner-top2 .banner-news li span {
  margin-right: 6px;
  font-weight: 700; }

.banner-right .banner-top2 .banner-news li:hover a {
  color: #ff6f6f; }

.banner-right .banner-top3 {
  width: 217px;
  height: 182px;
  position: absolute;
  bottom: 0;
  left: 0; }

.banner-right .banner-top3 .banner-life {
  margin: 0 auto;
  overflow: hidden;
  border-top: 1px solid #eee; }

.banner-right .banner-top3 .banner-life li {
  width: 71px;
  float: left;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  text-align: center;
  padding-top: 7px;
  height: 53px; }

.banner-right .banner-top3 .banner-life li .life1 {
  width: 42px;
  height: 28px;
  margin: 0 auto; }

.banner-right .banner-top3 .banner-life li .life_1 {
  background: url(../images/life_i1.png) no-repeat 0 0; }

.banner-right .banner-top3 .banner-life li .life_2 {
  background: url(../images/life_i2.png) no-repeat 0 0; }

.banner-right .banner-top3 .banner-life li .life_3 {
  background: url(../images/life_i3.png) no-repeat 0 0; }

.banner-right .banner-top3 .banner-life li .life_4 {
  background: url(../images/life_i4.png) no-repeat 0 0; }

.banner-right .banner-top3 .banner-life li .life_5 {
  background: url(../images/life_i5.png) no-repeat 0 0; }

.banner-right .banner-top3 .banner-life li .life_6 {
  background: url(../images/life_i6.png) no-repeat 0 0; }

.banner-right .banner-top3 .banner-life li .life_7 {
  background: url(../images/life_i7.png) no-repeat 0 0; }

.banner-right .banner-top3 .banner-life li .life_8 {
  background: url(../images/life_i8.png) no-repeat 0 0; }

.banner-right .banner-top3 .banner-life li .life_9 {
  background: url(../images/life_i9.png) no-repeat 0 0; }

/*.banner-right .banner-top3 .banner-life li:hover .life1{background-position: 0 -28px}
.banner-right .banner-top3 .banner-life li:hover a{color:#ff6f6f;}
*/
.banner-right .banner-top3 .ban-life-hover {
  width: 215px;
  height: 121px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background: #fff;
  display: none; }

.banner-right .banner-top3 .life-x {
  width: 8px;
  height: 8px;
  position: absolute;
  cursor: pointer;
  right: 4px;
  top: 4px;
  background: url(../images/ban_cov_x.png) no-repeat 0 0; }

.banner-right .banner-top3 .life_1_btn {
  width: 205px;
  height: 59px;
  padding: 0 5px;
  display: none; }

.banner-right .banner-top3 .life_1_btn a {
  width: 86px;
  height: 24px;
  display: block;
  float: left;
  margin: 16px 0 0 10px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #ffbcbc;
  border-radius: 1px; }

.banner-right .banner-top3 .life_1_btn a:hover {
  background: #ff6f6f;
  color: #fff; }

.banner-right .banner-top3 .life_2_btn a {
  width: 53px; }

.banner-right .banner-top3 .life_2_btn {
  display: none; }

.banner-right .banner-top3 .life_3_btn {
  display: none; }

.banner-right .banner-top3 .life_btn {
  width: 216px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: none; }

.banner-right .banner-top3 .life_btn li {
  width: 71px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee; }

.banner-right .banner-top3 .life_btn li:hover a {
  color: #ff6f6f; }

.banner-eye {
  height: 430px;
  width: 100%;
  line-height: 430px;
  text-align: center;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
  .banner-eye .banner-body {
    width: 100%;
    height: 430px;
    display: inline-block;
    overflow: hidden;
    position: relative; }
    .banner-eye .banner-body .scroll-img {
      width: 100%;
      height: 430px;
      line-height: 430px;
      list-style: none;
      display: inline-block;
      margin-left: -25px;
      z-index: 4;
      position: relative;
      text-align: center; }
      .banner-eye .banner-body .scroll-img li {
        float: left;
        width: 100%;
        position: absolute;
        left: 0px;
        height: 430px; }
        .banner-eye .banner-body .scroll-img li a {
          width: 785px;
          height: 430px;
          display: inline-block;
          background: url(../images/loading1.gif) no-repeat center center; }
          .banner-eye .banner-body .scroll-img li a img {
            display: inline; }
    .banner-eye .banner-body .ad {
      width: 785px; }
      .banner-eye .banner-body .ad i {
        width: 24px;
        height: 14px;
        position: absolute;
        right: 255px;
        bottom: 7px;
        z-index: 5;
        background: url(../images/ad.png) no-repeat; }

.arrows {
  width: 928px;
  height: 80px;
  list-style: none;
  position: relative;
  margin: 0 auto;
  top: -480px;
  display: block;
  pointer-events: none;
  z-index: 5; }
  .arrows .arrows-l {
    float: left;
    width: 30px;
    left: 59px;
    height: 60px;
    position: relative;
    top: 18px;
    line-height: 70px;
    margin-left: 0;
    background-image: url(../images/bg_direction_nav.png);
    cursor: pointer;
    pointer-events: auto; }
  .arrows .arrows-r {
    float: right;
    width: 30px;
    height: 60px;
    top: 18px;
    line-height: 70px;
    background-image: url(../images/bg_direction_nav.png);
    background-position: -30px 0;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    right: 85px; }

/*czt*/
.czt-con {
  height: 250px;
  background: green;
  margin-top: 20px; }

.czt-box {
  width: 1190px;
  height: 250px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
  .czt-box .czt-left {
    width: 224px;
    height: 250px;
    overflow: hidden;
    background: #F4F4F4 url(../images/loading2.gif) no-repeat center 0;
    float: left; }
    .czt-box .czt-left a {
      width: 224px;
      height: 250px;
      display: block; }
  .czt-box .czt-right {
    width: 965px;
    height: 248px;
    border: 1px solid #e4e4e4;
    float: right;
    border-left: none;
    overflow: hidden;
    position: relative;
    background: yellow; }
    .czt-box .czt-right .czt-next {
      width: 20px;
      height: 50px;
      position: absolute;
      right: 6px;
      top: 99px;
      background: url(../images/new_czt_next.png) no-repeat 0 0;
      z-index: 1; }
    .czt-box .czt-right .czt-prev {
      width: 20px;
      height: 50px;
      position: absolute;
      left: 6px;
      top: 99px;
      background: url(../images/new_czt_next.png) no-repeat 0 0;
      z-index: 1;
      display: none; }
    .czt-box .czt-right .czt-list {
      width: 1932px;
      height: 227px;
      padding: 11px 0 10px;
      position: absolute;
      left: 0;
      top: 0; }
      .czt-box .czt-right .czt-list li {
        width: 160px;
        height: 227px;
        float: left;
        border-right: 1px dashed #e4e4e4; }
        .czt-box .czt-right .czt-list li .czt-list-show {
          width: 140px;
          height: 227px;
          padding: 0 10px; }
          .czt-box .czt-right .czt-list li .czt-list-show img {
            width: 140px;
            height: 140px;
            transition: all 0.6s; }
          .czt-box .czt-right .czt-list li .czt-list-show img:hover {
            transform: scale(1.1); }
        .czt-box .czt-right .czt-list li .czt-list-name {
          height: 40px;
          line-height: 20px; 
		
      }
.czt-list-show .list-img{
	width:140px;
	height:140px;
	/*overflow: hidden;*/
}
.czt-list-show .czt-list-money .money{
	color: #ff6f6f;
    font-weight: 700;
    font-size: 12px;
    line-height: 26px;
}
.czt-list-show .czt-list-money .price{
	color:#bbb;
}
.czt-box .czt-right .czt-list li .czt-list-name:hover a{
	text-decoration: underline;
}	

















/*new-tm*/
.new-tm-con {
  height: 370px;
  margin-top: 20px;
  background: orange; }

.new-tm-left {
  width: 305px;
  height: 370px;
  background: yellowgreen;
  float: left;
  overflow: hidden; }

.new-tm-right {
  width: 885px;
  height: 370px;
  background: hotpink;
  float: left; }

/*floor1*/
.floor1-con {
  height: 514px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: forestgreen; }

.floor1-txt {
  height: 50px;
  font-weight: 900;
  color: #333;
  font-size: 26px;
  overflow: hidden;
  line-height: 50px; }

.floor1-left {
  width: 306px;
  height: 464px;
  overflow: hidden;
  float: left;
  background: cornflowerblue; }

.floor1-right {
  width: 883px;
  height: 461px;
  background: #fff;
  border-top: 2px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  float: right; }

/*floor2*/
.floor2-con {
  height: 514px;
  background: green;
  margin-bottom: 20px; }

.floor2-left {
  background: palevioletred; }

/*floor3*/
.floor3-con {
  height: 514px;
  margin-bottom: 20px;
  background: blueviolet; }

.floor3-left {
  background: pink; }

/*floor4*/
.floor4-con {
  height: 514px;
  background: orange;
  margin-bottom: 20px; }

/*floor5*/
.floor5-con {
  height: 514px;
  background: greenyellow;
  margin-bottom: 20px; }

/*floor6*/
.floor6-con {
  height: 514px;
  background: olivedrab;
  margin-bottom: 20px; }

/*floor7*/
.floor7-con {
  height: 514px;
  background: lightskyblue;
  margin-bottom: 20px; }

/*likes*/
.likes-con {
  width: 1200px;
  height: 2040px;
  background: darkcyan; }

/*bottom*/
#bottom {
  height: 362px;
  padding-top: 30px;
  background: #f3f3f3; }

.bottom-con {
  height: 362px;
  background: yellow; }
